<body>
    <div class="fg">
        <!-- navbar -->
        <div class="cont">
            <nav>
                <ul>
                    <li><input #city type="text" placeholder="city"></li>

                    <li><button (click)="getloc(city.value)">Search</button></li>

                    <li><button (click)="ctof()">C/F</button></li>

                    <li><button (click)="geolocation()">live</button></li>
                </ul>
            </nav>

            <!-- current weather -->
            <div class="top">
                <div class="main">
                    <div class="info">
                        <img [src]="ximg" alt=""><br>
                    </div>
                    <div class="temp">
                        <h2>{{loc}}</h2>
                        <h1>{{xtemp}}</h1>
                        <h2>{{xname}}</h2>
                        <p>{{xdes}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- forcast -->
        <div class="forcast">
            <div class="infor" *ngFor="let dat of forcast, let i = index">
                <div class="only" *ngIf="i%8==0">
                    <p>{{dat.dt_txt.slice(0,10)}}</p><br>
                    <h2>{{dat.main.temp.toFixed(0) - 273}}C</h2>
                    <div class="card" *ngFor="let cat of dat.weather">
                        <h2>{{cat.main}}</h2>
                    </div>
                    <div class="im">
                        <img src="{{farr[i/8]}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- background image -->
    <div class="bg">
        <img [src]="mor" alt="not found">
    </div>
</body>